<div class=" w-100 vh-100 bg-mainColor bg pt-5">
    <div class="title">
        <h1 class=" mx-auto text-uppercase text-light text-center pt-5 position-relative pb-1">about me</h1>
    </div>
    <div class="body bg-secondaryColor mx-auto p-4 mt-5 rounded-4">
        <div class="style position-relative">
            <span id="tag1" class="about-tag position-absolute fw-normal text-light">
                <span class=" text-warning">#</span>
                open_source
            </span>
            <span id="tag2" class="about-tag position-absolute fw-normal text-light">
                <span class=" text-warning">#</span>
                web_dev
            </span>
            <span id="tag3" class="about-tag position-absolute fw-normal text-light">
                <span class="  text-warning">#</span>
                web_design
            </span>
            <span id="tag4" class="about-tag position-absolute fw-normal text-light">
                <span class=" text-warning">#</span>
                software_solution
            </span>
        </div>
        <p class="text-light fw-normal lh-lg fs-5 text-">Passionate Junior front end Developer Expertise in web
            Programming and
            Development with
            Angular
            Framework, Up to date, Implement design concepts into visually appealing UI, Focus on optimal UX,
            Search Techniques, Familiarity with Back-end Integration (APIs, JSON, Restful Services), Know how to
            deal with different screen sizes (Responsive Concepts), Integration Payment (Stripe ),
            Continuous Learning, Ability to expanding knowledge and skills, staying updated with last Angular
            advancements and industry trends, Committed to contributing innovative solutions and supporting
            Project Success.
            Open to new Opportunity where i can develop my skills to create powerful web apps .</p>
    </div>
    <!-- <section class="spikes"></section> -->
</div>