<div class=" bg-mainColor w-100 vh-200 ">
    <div class="title mb-5">
        <h1 class="mx-auto text-uppercase text-light text-center pt-5 position-relative pb-1"> projects</h1>
    </div>
    <div class="projects row mx-auto pt-5">

        <div class="project mb-5">
            <div class="img ">
                <img class=" rounded-3" src="../../../assets/web1.png" alt="">
            </div>
            <div class="details w-75 bg-dark mx-auto p-3 position-relative  rounded-3">
                <div class="project-title position-relative">
                    <h1 class="text-light h2 text-start p-2">Center System</h1>
                </div>
                <div class="keys text-white d-flex ">
                    <p class=" me-4">html</p>
                    <p class=" me-4">css</p>
                    <p class=" me-4">bootstrap</p>
                </div>
            </div>
        </div>

        <div class="project mb-5 ">
            <div class="img">
                <img class=" rounded-3" src="../../../assets/web2.png" alt="">
            </div>
            <div class="details w-75 bg-dark mx-auto p-3 position-relative  rounded-3">
                <div class="project-title position-relative">
                    <h1 class="text-light h2 text-start p-2">fresh Cart</h1>
                </div>
                <div class="keys text-white d-flex ">
                    <p class=" me-4">html</p>
                    <p class=" me-4">css</p>
                    <p class=" me-4">bootstrap</p>
                </div>
            </div>
        </div>

        <div class="project mb-5">
            <div class="img">
                <img class=" rounded-3" src="../../../assets/web3.png" alt="">
            </div>
            <div class="details w-75 bg-dark mx-auto p-3 position-relative  rounded-3">
                <div class="project-title position-relative">
                    <h1 class="text-light h2 text-start p-2">Construction Service</h1>
                </div>
                <div class="keys text-white d-flex ">
                    <p class=" me-4">html</p>
                    <p class=" me-4">css</p>
                    <p class=" me-4">bootstrap</p>
                </div>
            </div>
        </div>


        <div class="project mb-5 ">
            <div class="img">
                <img class=" rounded-3" src="../../../assets/web4.png" alt="">
            </div>
            <div class="details w-75 bg-dark mx-auto p-3 position-relative  rounded-3">
                <div class="project-title position-relative">
                    <h1 class="text-light h2 text-start p-2">website - temp</h1>
                </div>
                <div class="keys text-white d-flex ">
                    <p class=" me-4">html</p>
                    <p class=" me-4">css</p>
                    <p class=" me-4">bootstrap</p>
                </div>
            </div>
        </div>


        <div class="project mb-5">
            <div class="img">
                <img class=" rounded-3" src="../../../assets/web5.png" alt="">
            </div>
            <div class="details w-75 bg-dark mx-auto p-3 position-relative  rounded-3">
                <div class="project-title position-relative">
                    <h1 class="text-light h2 text-start p-2">E-commerce shop</h1>
                </div>
                <div class="keys text-white d-flex ">
                    <p class=" me-4">html</p>
                    <p class=" me-4">css</p>
                    <p class=" me-4">bootstrap</p>
                </div>
            </div>
        </div>

        <div class="project mb-5">
            <div class="img">
                <img class=" rounded-3" src="../../../assets/web6.png" alt="">
            </div>
            <div class="details w-75 bg-dark mx-auto p-3 position-relative  rounded-3">
                <div class="project-title position-relative">
                    <h1 class="text-light h2 text-start p-2">Kasper</h1>
                </div>
                <div class="keys text-white d-flex ">
                    <p class=" me-4">html</p>
                    <p class=" me-4">css</p>
                    <p class=" me-4">bootstrap</p>
                </div>
            </div>
        </div>
    </div>
</div>