#name {
    font-family: "Russo One", sans-serif;
    font-size: 55px;
}

#position {
    font-family: "Russo One", sans-serif;
    font-size: 45px;

}

.typed_animation1,
.typed_animation2 {
    position: relative;
}

.typed_animation1::before {
    content: "Muhammed Elfawy";
}

.typed_animation2::before {
    content: "Front-End Developer";
}

.typed_animation1::after {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 80%;
    top: 50%;
    padding: 1px;
    right: -10px;
    transform: translateY(-50%);
    background-color: var(--bg-mainColor);
    animation:
        typing 1.5s steps(15) forwards;
}

.typed_animation2::after {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 82%;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    background-color: var(--bg-mainColor);
    animation:
        typing 1.5s steps(20) forwards;
    animation-delay: 1.5s;
}


@keyframes typing {
    to {
        width: 0%;
    }
}

.img img {
    width: 250px;
    height: 280px;
    margin: 0 120px 20px 0;
    box-shadow: 10px 5px 0px var(--text-purple);
    border: 1px solid var(--text-purple);
    transform: translatey(-30px);
    animation: move 2s infinite;
}

@keyframes move {
    50% {
        transform: translatey(-15px);
    }

    100% {
        transform: translatey(-30px);
    }
}

@keyframes shadow {
    50% {
        box-shadow: var(--text-purple) 0px 2px 89px 0px, var(--text-purple) 0px 2px 1px 0px;
    }
}

.Btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    height: 40px;
    padding: 0px 20px;
    background-color: rgb(168, 38, 255);
    color: white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 5px 5px 0px rgb(140, 32, 212);
    transition-duration: .3s;
}

i {
    width: 13px;
    position: absolute;
    right: 0;
    margin-right: 20px;
    fill: white;
    transition-duration: .3s;
}

.Btn:hover .tr {
    color: transparent;
}

.Btn:hover i {
    right: 43%;
    margin: 0;
    padding: 0;
    border: none;
    transition-duration: .3s;
}

.Btn:active {
    transform: translate(3px, 3px);
    transition-duration: .3s;
    box-shadow: 2px 2px 0px rgb(140, 32, 212);
}

.button {
    background-color: #ffffff00;
    color: #fff;
    width: 8.5em;
    height: 2.9em;
    border: rgb(168, 38, 255) 0.2em solid;
    border-radius: 11px;
    text-align: right;
    transition: all 0.6s ease;
}

.button:hover {
    background-color: rgb(168, 38, 255);
    cursor: pointer;
}

.button svg {
    width: 1.6em;
    margin-left: 7px;
    position: absolute;
    display: flex;
    transition: all 0.6s ease;
    font-weight: bold;
}

.button:hover svg {
    transform: translateX(5px);
}

.text {
    margin: 0 1.5em;
    font-weight: bold;
}


.popup {
    position: fixed;
    top: 60px;
    left: 50%;
    border-radius: 20px;
    transform: translatex(-50%);
    width: 800px;
    height: 600px;
    background-color: rgba(112, 111, 112, 0.896);
    z-index: 2;
    backdrop-filter: blur(5px);

}

.popup i {
    top: 20px;
    right: 20px;
}

.popup .form {
    margin-top: 30px;
}

.popup i:hover {
    color: red;
    cursor: pointer;
}

textarea {
    resize: none;
    height: 150px;
}


.st {
    top: 80px;
    animation: goDown 2s infinite;
}

@keyframes goDown {
    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);

    }
}

.clip {
    position: relative;
}

.clip::after {
    content: "";
    position: absolute;
    top: -122px;
    left: -139px;
    width: 119%;
    height: 171%;
    background-color: #b392ff5e;
    clip-path: polygon(100% 100%, 100% 0, 100% 100%, 0% 100%);
    z-index: 0;
    animation: clip 2s 1;
    animation-fill-mode: both
}

@keyframes clip {
    to {
        clip-path: polygon(90% 81%, 100% 0, 100% 100%, 0% 100%);
    }
}

@media (max-width:768px) {
    .media-img {
        background-image: url("../../../assets/xc.jpg") !important;
        background-size: cover;
        width: 130px !important;
        height: 180px;
        margin: 20px auto 0;
        position: relative;
        z-index: 1;
        box-shadow: 5px 5px 0px var(--text-purple);
        border: 1px solid var(--text-purple);
        border-radius: 5px;
        animation: move2 2s infinite;
        transform: translateY(-10px);
    }

    .clip::after {
        top: -288px;
        left: -6px;
        width: 103.5%;
    }
}