<section class=" portfolio section bg-mainColor bg w-100 vh-200" id="testimonials">
    <div class="title mb-5">
        <h1 class="mx-auto text-uppercase text-light text-center pt-5 position-relative pb-1"> Testimonials</h1>
    </div>
    <div class="container">
        <swiper-container class="mySwiper" pagination="true" effect="coverflow" grab-cursor="true"
            centered-slides="true" slides-per-view="auto" coverflow-effect-rotate="50" coverflow-effect-stretch="0"
            coverflow-effect-depth="100" coverflow-effect-modifier="1" coverflow-effect-slide-shadows="true">
            <swiper-slide>
                <div class="client_name">
                    <img class="me-2" src="../../../assets/user.jpg" alt="">
                    <span>muhammed ahmed</span>
                </div>
                <p>He is the greatest programmer i have ever meet</p>
            </swiper-slide>
            <swiper-slide>
                <div class="client_name">
                    <img class="me-2" src="../../../assets/user.jpg" alt="">
                    <span>ali ahmed</span>
                </div>
                <p>He was nice</p>
            </swiper-slide>
            <swiper-slide>
                <div class="client_name">
                    <img class="me-2" src="../../../assets/user.jpg" alt="">
                    <span>muhammed mazen</span>
                </div>
                <p>He is soo bad</p>
            </swiper-slide>

            <swiper-slide>
                <div class="client_name">
                    <img class="me-2" src="../../../assets/user.jpg" alt="">
                    <span>muhammed saber</span>
                </div>
                <p>cool guy</p>
            </swiper-slide>

            <swiper-slide>
                <div class="client_name">
                    <img class="me-2" src="../../../assets/user.jpg" alt="">
                    <span>muhammed araby</span>
                </div>
                <p>thanks alot</p>
            </swiper-slide>
            <swiper-slide>
                <div class="client_name">
                    <img class="me-2" src="../../../assets/user.jpg" alt="">
                    <span>muhammed morsy</span>
                </div>
                <p>no comment</p>
            </swiper-slide>
        </swiper-container>
    </div>
</section>