<div class="bg-secondaryColor w-100 vh-100">
    <div class="title">
        <h1 class="mx-auto text-uppercase text-light text-center pt-5 position-relative pb-1">Skills</h1>
    </div>
    <div class="carosul ">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide class="w">
                <div class="img">
                    <img src="../../../assets/html.png" alt="">
                    <p class="m-0 text-light fw-normal text-capitalize pt-3 ">html</p>
                </div>
            </ng-template>
            <ng-template carouselSlide class="w">
                <div class="img">
                    <img src="../../../assets/css.png" alt="">
                    <p class="m-0 text-light fw-normal text-capitalize pt-3 ">css</p>

                </div>

            </ng-template>
            <ng-template carouselSlide class="w">
                <div class="img">
                    <img src="../../../assets/js.png" alt="">
                    <p class="m-0 text-light fw-normal text-capitalize pt-3 ">javascript</p>

                </div>
            </ng-template>
            <ng-template carouselSlide class="w">
                <div class="img">
                    <img src="../../../assets/ts.png" alt="">
                    <p class="m-0 text-light fw-normal text-capitalize pt-3 ">typescript</p>

                </div>
            </ng-template>
            <ng-template carouselSlide class="w">
                <div class="img">
                    <img src="../../../assets/bootstrap.png" alt="">
                    <p class="m-0 text-light fw-normal text-capitalize pt-3 ">bootstrap</p>

                </div>
            </ng-template>
            <ng-template carouselSlide class="w">
                <div class="img">
                    <img src="../../../assets/angular.png" alt="">
                    <p class="m-0 text-light fw-normal text-capitalize pt-3 ">angular</p>

                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
    <div class="marquee">
        <div class="marquee-content">
            <div class="marquee-item">
                <img src="../../../assets/html.png" alt="">
            </div>
            <div class="marquee-item">
                <img src="../../../assets/css.png" alt="">
            </div>
            <div class="marquee-item">
                <img src="../../../assets/js.png" alt="">
            </div>
            <div class="marquee-item">
                <img src="../../../assets/ts.png" alt="">
            </div>
            <div class="marquee-item">
                <img src="../../../assets/bootstrap.png" alt="">
            </div>
            <div class="marquee-item">
                <img src="../../../assets/angular.png" alt="">
            </div>
        </div>
        <div class="marquee-content">
            <div class="marquee-item">
                <img src="../../../assets/html.png" alt="">
            </div>
            <div class="marquee-item">
                <img src="../../../assets/css.png" alt="">
            </div>
            <div class="marquee-item">
                <img src="../../../assets/js.png" alt="">
            </div>
            <div class="marquee-item">
                <img src="../../../assets/ts.png" alt="">
                <p class=" text-light d-inline">typescript</p>
            </div>
            <div class="marquee-item">
                <img src="../../../assets/bootstrap.png" alt="">
            </div>
            <div class="marquee-item">
                <img src="../../../assets/angular.png" alt="">
            </div>
        </div>
        <div class="marquee-content">
            <div class="marquee-item">
                <img src="../../../assets/html.png" alt="">
            </div>
            <div class="marquee-item">
                <img src="../../../assets/css.png" alt="">
            </div>
            <div class="marquee-item">
                <img src="../../../assets/js.png" alt="">
            </div>
            <div class="marquee-item">
                <img src="../../../assets/ts.png" alt="">
            </div>
            <div class="marquee-item">
                <img src="../../../assets/bootstrap.png" alt="">
            </div>
            <div class="marquee-item">
                <img src="../../../assets/angular.png" alt="">
            </div>
        </div>
    </div>


    <div class="marquee marquee2 mt-5 w-75 mx-auto ">
        <div class="marquee-content">
            <div class="marquee-item">
                <img src="../../../assets/html.png" alt="">
            </div>
            <div class="marquee-item">
                <img src="../../../assets/css.png" alt="">
            </div>
            <div class="marquee-item">
                <img src="../../../assets/js.png" alt="">
            </div>
            <div class="marquee-item">
                <img src="../../../assets/ts.png" alt="">
            </div>
            <div class="marquee-item">
                <img src="../../../assets/bootstrap.png" alt="">
            </div>
            <div class="marquee-item">
                <img src="../../../assets/angular.png" alt="">
            </div>
        </div>
        <div class="marquee-content">
            <div class="marquee-item">
                <img src="../../../assets/html.png" alt="">
            </div>
            <div class="marquee-item">
                <img src="../../../assets/css.png" alt="">
            </div>
            <div class="marquee-item">
                <img src="../../../assets/js.png" alt="">
            </div>
            <div class="marquee-item">
                <img src="../../../assets/ts.png" alt="">
            </div>
            <div class="marquee-item">
                <img src="../../../assets/bootstrap.png" alt="">
            </div>
            <div class="marquee-item">
                <img src="../../../assets/angular.png" alt="">
            </div>
        </div>
        <div class="marquee-content">
            <div class="marquee-item">
                <img src="../../../assets/html.png" alt="">
            </div>
            <div class="marquee-item">
                <img src="../../../assets/css.png" alt="">
            </div>
            <div class="marquee-item">
                <img src="../../../assets/js.png" alt="">
            </div>
            <div class="marquee-item">
                <img src="../../../assets/ts.png" alt="">
            </div>
            <div class="marquee-item">
                <img src="../../../assets/bootstrap.png" alt="">
            </div>
            <div class="marquee-item">
                <img src="../../../assets/angular.png" alt="">
            </div>
        </div>
    </div>

</div>
<!--  -->